<a href="https://colab.research.google.com/github/ChoeTaeBin/Machine-Learnig/blob/main/airbnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##목적에 맞는 모델을 만드는 데 집중해 보았습니다.  
모델의 목표 : 사용자가 airbnb에 자신의 집을 올리려고 할때 얼마에 올려야 할지 제시해주는 시스템  
(우선 이렇게 가정하였습니다.)

In [ ]:
import pandas as pd
import numpy as np

##데이터 관찰

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Airbnb_Data.csv')
df.head()

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,...,latitude,longitude,name,neighbourhood,number_of_reviews,review_scores_rating,thumbnail_url,zipcode,bedrooms,beds
0,6901257,5.010635,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",3,1.0,Real Bed,strict,True,...,40.696524,-73.991617,Beautiful brownstone 1-bedroom,Brooklyn Heights,2,100.0,https://a0.muscache.com/im/pictures/6d7cbbf7-c...,11201,1.0,1.0
1,6304928,5.129899,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",7,1.0,Real Bed,strict,True,...,40.766115,-73.989040,Superb 3BR Apt Located Near Times Square,Hell's Kitchen,6,93.0,https://a0.muscache.com/im/pictures/348a55fe-4...,10019,3.0,3.0
2,7919400,4.976734,Apartment,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",5,1.0,Real Bed,moderate,True,...,40.808110,-73.943756,The Garden Oasis,Harlem,10,92.0,https://a0.muscache.com/im/pictures/6fae5362-9...,10027,1.0,3.0
3,13418779,6.620073,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.0,Real Bed,flexible,True,...,37.772004,-122.431619,Beautiful Flat in the Heart of SF!,Lower Haight,0,NaN,https://a0.muscache.com/im/pictures/72208dad-9...,94117.0,2.0,2.0
4,3808709,4.744932,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",2,1.0,Real Bed,moderate,True,...,38.925627,-77.034596,Great studio in midtown DC,Columbia Heights,4,40.0,NaN,20009,0.0,1.0

In [ ]:
df.shape

(74111, 29)

샘플수: 74111  
특성수: 29

In [ ]:
features = df.columns
print('<특성들>\n', features)

<특성들>
 Index(['id', 'log_price', 'property_type', 'room_type', 'amenities',
       'accommodates', 'bathrooms', 'bed_type', 'cancellation_policy',
       'cleaning_fee', 'city', 'description', 'first_review',
       'host_has_profile_pic', 'host_identity_verified', 'host_response_rate',
       'host_since', 'instant_bookable', 'last_review', 'latitude',
       'longitude', 'name', 'neighbourhood', 'number_of_reviews',
       'review_scores_rating', 'thumbnail_url', 'zipcode', 'bedrooms', 'beds'],
      dtype='object')

각 특성을 조금 더 자세히 살펴 보겠습니다.

In [ ]:
for f in features:
  print(f'\n\n=======================< {f} >=========================\n')
  print(df[f].value_counts())

=======================< id >=========================

6901257     1
2460250     1
289037      1
16492690    1
14838028    1
           ..
14222061    1
6238463     1
15285110    1
11226321    1
3534845     1
Name: id, Length: 74111, dtype: int64


=======================< log_price >=========================

5.010635    2729
4.605170    2707
4.317488    2049
5.298317    1923
3.912023    1920
            ...
6.999422       1
6.725034       1
7.070724       1
6.156979       1
6.357842       1
Name: log_price, Length: 767, dtype: int64


=======================< property_type >=========================

Apartment             49003
House                 16511
Condominium            2658
Townhouse              1692
Loft                   1244
Other                   607
Guesthouse              498
Bed & Breakfast         462
Bungalow                366
Villa                   179
Dorm                    142
Guest suite             123
Camper/RV                94
Timeshare                77
Cabin                    72
In-law                   71
Hostel                   70
Boutique hotel           69
Boat                     65
Serviced apartment       21
Tent                     18
Castle                   13
Vacation home            11
Yurt                      9
Hut                       8
Treehouse                 7
Chalet                    6
Earth House               4
Tipi                      3
Train                     2
Cave                      2
Casa particular           1
Parking Space             1
Lighthouse                1
Island                    1
Name: property_type, dtype: int64


=======================< room_type >=========================

Entire home/apt    41310
Private room       30638
Shared room         2163
Name: room_type, dtype: int64


=======================< amenities >=========================

{}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               586
{"translation missing: en.hosting_amenity_49","translation missing: en.hosting_amenity_50"}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      135
{"Family/kid friendly"}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          103
{"Pets allowed","Family/kid friendly"}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            27
{TV,"Cable TV",Internet,"Wireless Internet","Air conditioning",Kitchen,"Pets allowed",Doorman,Gym,Elevator,Heating,"Family/kid friendly",Washer,Dryer,"Smoke detector","Carbon monoxide detector",Essentials,Shampoo,"24-hour check-in",Hangers,"Hair dryer",Iron,"Laptop friendly workspace","Self Check-In",Doorman}                                                                                                                                                                                                                                                                            26
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ...
{TV,Internet,"Wireless Internet",Kitchen,"Free parking on premises","Pets live on this property",Cat(s),Heating,Washer,Dryer,"Smoke detector","Carbon monoxide detector",Essentials,Hangers,"Hair dryer",Iron,"Laptop friendly workspace","translation missing: en.hosting_amenity_49","translation missing: en.hosting_amenity_50"}                                                                                                                                                                                                                                                               1
{TV,Internet,"Air conditioning",Kitchen,"Pets allowed","Pets live on this property",Heating,"Family/kid friendly",Washer,Dryer,"Smoke detector",Essentials,Shampoo,Hangers,Iron}                                                                                                                                                                                                                                                                                                                                                                                                                   1
{TV,"Cable TV",Internet,"Wireless Internet",Kitchen,"Pets allowed","Pets live on this property",Dog(s),Heating,"Family/kid friendly","Suitable for events","Smoke detector","Carbon monoxide detector","First aid kit","Safety card","Fire extinguisher",Essentials,Shampoo,"Lock on bedroom door","24-hour check-in",Hangers,"Hair dryer",Iron,"Laptop friendly workspace","Children’s books and toys","Hot water","Bed linens","Extra pillows and blankets",Microwave,"Coffee maker",Refrigerator,Dishwasher,"Dishes and silverware","Cooking basics",Oven,Stove,"Luggage dropoff allowed"}      1
{TV,Internet,"Wireless Internet","Air conditioning",Kitchen,Heating,"Family/kid friendly",Washer,Dryer,"24-hour check-in","Hair dryer",Iron,"Laptop friendly workspace","Self Check-In",Keypad}                                                                                                                                                                                                                                                                                                                                                                                                    1
{TV,Internet,"Wireless Internet",Kitchen,"Free parking on premises",Heating,"Family/kid friendly","Smoke detector","Carbon monoxide detector","First aid kit","Safety card","Fire extinguisher",Essentials,Shampoo,"24-hour check-in",Hangers,"Hair dryer","Laptop friendly workspace"}                                                                                                                                                                                                                                                                                                            1
Name: amenities, Length: 67122, dtype: int64


=======================< accommodates >=========================

2     31854
4     12066
1      9434
3      7794
6      4969
5      3444
8      1795
7       946
10      701
16      301
9       270
12      264
14      104
11       79
15       54
13       36
Name: accommodates, dtype: int64


=======================< bathrooms >=========================

1.0    58099
2.0     7936
1.5     3801
2.5     1567
3.0     1066
3.5      429
4.0      286
0.5      209
0.0      198
4.5      116
5.0       72
8.0       41
5.5       39
6.0       24
6.5       12
7.0       10
7.5        6
Name: bathrooms, dtype: int64


=======================< bed_type >=========================

Real Bed         72028
Futon              753
Pull-out Sofa      585
Airbed             477
Couch              268
Name: bed_type, dtype: int64


=======================< cancellation_policy >=========================

strict             32374
flexible           22545
moderate           19063
super_strict_30      112
super_strict_60       17
Name: cancellation_policy, dtype: int64


=======================< cleaning_fee >=========================

True     54403
False    19708
Name: cleaning_fee, dtype: int64


=======================< city >=========================

NYC        32349
LA         22453
SF          6434
DC          5688
Chicago     3719
Boston      3468
Name: city, dtype: int64


=======================< description >=========================

Hello, I've been running guest house for Koreans visiting U.S. for 3years, and recently decided to run this place for other travelers also. There are 10 room in the house. They are mostly dormitory rooms and couple of couple room and family room. This places are our women's dormitory in third floor. There are three rooms, but no doors. It is basically open space. There are 2 beds in two rooms and 4 in one room. I do not have closet in this room but there are hangers and mini shelves. My travelers usually put their baggage on the floor. There is one full bathroom only for women in 2nd floor, which you will be sharing with other women guests. Right next that bathroom, there is unisex half bathroom. All bathrooms have hair dryers. You cannot use kitchen, but you can use refrigerator.  I offer breakfast every morning from 7-10 am. Bread, cereal, fruits, coffee, milk and juice will be served. You can eat take-out food in the kitchen, but please wash dishes that you used and put trash in the    8
Private room in the heart of Little Italy with FREE PARKING :) You will have your own personal door code and may arrive at ANY time you would like and as late as you wish. You can store your luggage in the closet before check-in and after check-out times :) Price adapts to demand, my rates change constantly - every night is different! Put your dates in the calendar, with the number of guests, and what you see is what you'll pay :) The neighborhood is extremely safe even at night :) Restaurants and bars are right round the corner, both upscale and casual. This room is 6 minutes away by car or uber to Chicago's famous Willis (Sears) tower. Uber costs about $7. If you are arriving by car, I am providing free resident parking passes for anywhere in the area. (Yes, that means you can drive a few blocks and still park anywhere you want!) The room will be solely yours for the time you'll stay in the Windy City. Shall you have any concerns or need any tips from the local, I'll always be happy     7
Welcome to RMH, a co-ed hostel vibe home for exploring travelers or working individuals needing temporary housing. (Guests access is from 3pm to 11am daily). NON-SMOKERS ONLY! Host & small dog live on property. NOTE: Guests' bedroom is dog free. GUARANTEED In Our Home: *You receive a clean home in a safe neighborhood, clean sheets, pillow, towel and covers. **You MUST Read House Rules BEFORE Booking :) ***IMPORTANT ***SMOKERS who book: reservation cancelled upon arrival + NO Refund. The bedroom is very large with enough space for everyone (6 guests) to have peace and quiet. The kitchen and bath are very spacious. Guests will have their own keys and have access to the bedroom in which they stay, kitchen, bathroom, living room and deck. OPTIONAL: (Normal Check IN is 3pm, Check OUT is 10am) If you would like an EARLY CHECK IN before 3pm ($25 fee) Guests trying to check in after 10pm will need to get pre-approval from host and pay the late check in fee of $25. There is no key box and no gu    6
Brand New 2017 Construction, Featuring 2 Bedrooms and 2 bathrooms . comfortable couch, coffee table, 50-inch TV in living room, with free Satellite Cable channel and internet Wi-Fi. Washer and Dryer in the building on each floor.This lovely Apartment is perfect for families, couples or four close friends! With over 900 square feet of living space.A short freeway ride to Westwood, Hollywood Bowl, Griffith Park, LA Zoo, and downtown venues such as Chinatown, LA Live, Staples Center and Olivera St. Enjoy the open entertainer floor plan featuring a gourmet kitchen with quartz counters w/natural mosaic stone and quartz back splash, Stainless Steel appliances, and designer cabinetry. All baths are tastefully done with tub/showers and sinks. Awesome living area, Enjoy those high ceilings! Terrific master suite with closet space. This is a "smart home" featuring an LED recessed lighting. Gated Garage is ready for two full sized cars all side by side.  A cozy retreat for your stay in Los Angele    5
OutpostClub is a network of Coliving locations throughout NewYork. We built it to make it super easy to move to NewYork, and to provide cool convenient places for cheap. Coliving - is a shared housing model - where you share kitchen, living rooms, common spaces with others, having private or shared bedrooms of your choice. Everything is included in the flat fee - utilities, furniture, supplies, events. Book Now, grab your suitcase and move into the House, meet people who will become your friends Coliving Club is a beautifully curated living space in New York with a wide range of amenities such as free workspace with printer and scanner, hi-speed Wi-Fi, fully equipped kitchen, dinner and living space, private backyard, individual safe, coffee, tea, soda, shampoo, shower gel, hand soap, towels and much more! Everything is included in our flat fee. Here we thoroughly picked every detail so that you feel cozy. Expect a great night's sleep with our made in USA memory foam mattresses by Broo    5
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ..
You could not get more central. Walking distance to LACC and Sunset Junction and the redline, this is the perfect jumping off point to explore everything LA has to offer. Apartment has a full kitchen with coffee, sugar, spices and all the amenities. PLEASE NOTE THERE IS NO PARKING AND PARKING CAN BE DIFFICULT ON THE STREET.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
Two bedroom Beacon Hill Apartment on quiet side street with plenty of room. There is a beautiful kitchen with granite countertops. It is walking distance to the Boston Common, State House, Newbury Street, Washington Crossing, the Public Garden, Mass General Hospital (.6 miles away), Charles Street & so much more. The entire apartment I am available if needed by my guests. Beacon Hill is a beautiful & historic neighborhood in Boston & is centrally located to most of the popular tourist attractions. The Public Garden & the swan boats, the State House, the Boston Common, Frog Pond, the Esplanade, Newbury Street, Downtown Crossing & the Charles River are all close by. There are fantastic restaurants & bars all within walking distance on Charles Street (Ristorante Toscano's, Tatte Bakery, The Upper Crust, The Paramount, JP Licks, Starbucks) as well as retail shopping, art galleries, antique shops & boutiques. There is parking at the Boston Common parking garage across the street & daytime M    1
The apartment is located in the Theatre District of Boston with stunning features and amenities. Nicely furnished, with built in washer and dryer, fully equipped kitchen, spacious living room. 1 minute walk to T. The bedroom  The futon is in the living room.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
Elegant two bedroom, two bath apartment with generous views located on quiet, charming street within minutes walking distance from NOPA and the Haight's latest and greatest shops and restaurants. Beautiful Edwardian building, surrounded by classic San Francisco homes. Exterior deck. 2000 square foot loft-like apartment with combined living dining area and open kitchen. Expansive bay windows offering great, natural light and terrific views, day and night.  Contemporary, spacious kitchen, great for cooking and a night in. Extensive living space with separate bedrooms and baths, allowing for privacy and quiet ~ perfect for couples traveling together or a family.  Located on a quiet, quintessentially charming SF block, with easy, available parking. Four blocks from the gorgeous Beuna Vista Park.  Excellent access to public transportation, and two blocks from underground Muni.                                                                                                                        1

##사용할 특성들  
(제가 주관적으로 판단한 부분이 많이 있습니다.)  
  

-> **target label: log_price**  
(가격에 ln을 씌운값, 달러로 추정됨)  
  

-> property_type  
상위 5개에 해당하는 샘플만 취하고 나머지는 버리기로 했습니다.(one-hot encoding후 특성수가 너무 많아지는 것을 방지하기 위함)   
Apartment             49003  
House                 16511  
Condominium(콘도)      2658  
Townhouse              1692  
Loft(다락방)           1244  
  

-> room_type  
Entire home/apt : 1  
Private room    : 2  
Shared room : 3  

으로 정수화 하겠습니다.  
  
->accomodates  
그대로 사용하겠습니다.  

->bathrooms  
가격과 많은 상관 관계가 있을 특성으로 생각하여 일단은 사용하겠습니다.  
그런데 욕실이 1.5개라는 것은 어떤의미인지 고민 해 봐야 할 것 같습니다.  
  
->bed_type  
Real Bed : 1  
etc : 0  
으로 하겠습니다.  
  
->cancellation_policy  
super_strict_30, super_strict_60 : 1  
strict: 2   
moderate : 3                  
flexible : 4    
로 정수화 하겠습니다.
  
->city  
위치에 관한 여러가지 정보들이 있는데, 이 중 city를 one-hot encoding해서 사용하겠습니다.  

->cleaning_fee, host_identity_verified, instant_bookable     
True : 1  
False : 0  
으로 정수화 하겠습니다.  
  
->beds  
그대로 사용하겠습니다.

##데이터 정리

In [ ]:
#property type이 가장 빈번한 5개에 해당하는 샘플만 살림
refined_df = df[df['property_type'].isin(['Apartment', 'House', 'Condominium', 'Townhouse', 'Loft'])]

In [ ]:
refined_df['property_type'].value_counts()

Apartment      49003
House          16511
Condominium     2658
Townhouse       1692
Loft            1244
Name: property_type, dtype: int64

In [ ]:
refined_df.shape

(71108, 29)

In [ ]:
#일단 사용할 특징들만 남기자

refined_df = refined_df[['log_price', 'property_type', 'accommodates', 'bathrooms',
                          'bed_type', 'cancellation_policy', 'city', 'cleaning_fee',
                          'host_identity_verified', 'instant_bookable', 'beds']]

In [ ]:
refined_df.shape

(71108, 11)

##NaN값 처리

In [ ]:
refined_df.isnull().sum()

log_price                   0
property_type               0
accommodates                0
bathrooms                 181
bed_type                    0
cancellation_policy         0
city                        0
cleaning_fee                0
host_identity_verified    185
instant_bookable            0
beds                      123
dtype: int64

NaN값을 가진 sample이 그리 많지 않으므로 그냥 삭제하기로 했다.

In [ ]:
print('NaN값 삭제전: ',refined_df.shape[0])
refined_df.dropna(inplace = True)
print('NaN값 삭제후: ',refined_df.shape[0])

NaN값 삭제전:  71108
NaN값 삭제후:  70662

In [ ]:
#True, False, 't', 'f' -> 0,1로
refined_df = refined_df.replace({True: 1, 't' : 1,  False : 0, 'f': 0})

In [ ]:
refined_df

,log_price,property_type,accommodates,bathrooms,bed_type,cancellation_policy,city,cleaning_fee,host_identity_verified,instant_bookable,beds
0,5.010635,Apartment,3,1.0,Real Bed,strict,NYC,1,1,0,1.0
1,5.129899,Apartment,7,1.0,Real Bed,strict,NYC,1,0,1,3.0
2,4.976734,Apartment,5,1.0,Real Bed,moderate,NYC,1,1,1,3.0
3,6.620073,House,4,1.0,Real Bed,flexible,SF,1,1,0,2.0
4,4.744932,Apartment,2,1.0,Real Bed,moderate,DC,1,1,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...
74105,4.248495,House,2,1.0,Real Bed,moderate,LA,1,1,0,1.0
74106,4.605170,Apartment,1,1.0,Real Bed,flexible,NYC,0,1,0,1.0
74107,5.043425,Apartment,4,2.0,Real Bed,moderate,LA,1,0,0,4.0
74108,5.220356,Apartment,5,1.0,Real Bed,moderate,NYC,1,1,1,2.0
74109,5.273000,Apartment,2,1.0,Real Bed,strict,NYC,1,0,1,2.0

In [ ]:
#bed_type정수화
refined_df['bed_type'] = refined_df['bed_type'].replace({'Real Bed': 1})#Real Bed는 1
refined_df['bed_type'] = refined_df['bed_type'].where(refined_df['bed_type'] == 1, other=0)#나머지는 0

In [ ]:
refined_df['bed_type'].value_counts()

1    68700
0     1962
Name: bed_type, dtype: int64

In [ ]:
#cancelation policy 정수화
refined_df['cancellation_policy'] = refined_df['cancellation_policy'].replace({
    'super_strict_30': 1,
    'super_strict_60' : 1,
    'strict' : 2,
    'moderate' : 3,
    'flexible' : 4})

In [ ]:
refined_df['cancellation_policy'].value_counts()

2    30941
4    21475
3    18124
1      122
Name: cancellation_policy, dtype: int64

In [ ]:
refined_df

,log_price,property_type,accommodates,bathrooms,bed_type,cancellation_policy,city,cleaning_fee,host_identity_verified,instant_bookable,beds
0,5.010635,Apartment,3,1.0,1,2,NYC,1,1,0,1.0
1,5.129899,Apartment,7,1.0,1,2,NYC,1,0,1,3.0
2,4.976734,Apartment,5,1.0,1,3,NYC,1,1,1,3.0
3,6.620073,House,4,1.0,1,4,SF,1,1,0,2.0
4,4.744932,Apartment,2,1.0,1,3,DC,1,1,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...
74105,4.248495,House,2,1.0,1,3,LA,1,1,0,1.0
74106,4.605170,Apartment,1,1.0,1,4,NYC,0,1,0,1.0
74107,5.043425,Apartment,4,2.0,1,3,LA,1,0,0,4.0
74108,5.220356,Apartment,5,1.0,1,3,NYC,1,1,1,2.0
74109,5.273000,Apartment,2,1.0,1,2,NYC,1,0,1,2.0

##one-hot encoding

In [ ]:
encoded_col = pd.get_dummies(refined_df[['property_type', 'city']])

In [ ]:
encoded_col

,property_type_Apartment,property_type_Condominium,property_type_House,property_type_Loft,property_type_Townhouse,city_Boston,city_Chicago,city_DC,city_LA,city_NYC,city_SF
0,1,0,0,0,0,0,0,0,0,1,0
1,1,0,0,0,0,0,0,0,0,1,0
2,1,0,0,0,0,0,0,0,0,1,0
3,0,0,1,0,0,0,0,0,0,0,1
4,1,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
74105,0,0,1,0,0,0,0,0,1,0,0
74106,1,0,0,0,0,0,0,0,0,1,0
74107,1,0,0,0,0,0,0,0,1,0,0
74108,1,0,0,0,0,0,0,0,0,1,0
74109,1,0,0,0,0,0,0,0,0,1,0

In [ ]:
refined_df = pd.concat([refined_df, encoded_col], axis = 1)

In [ ]:
refined_df

,log_price,property_type,accommodates,bathrooms,bed_type,cancellation_policy,city,cleaning_fee,host_identity_verified,instant_bookable,...,property_type_Condominium,property_type_House,property_type_Loft,property_type_Townhouse,city_Boston,city_Chicago,city_DC,city_LA,city_NYC,city_SF
0,5.010635,Apartment,3,1.0,1,2,NYC,1,1,0,...,0,0,0,0,0,0,0,0,1,0
1,5.129899,Apartment,7,1.0,1,2,NYC,1,0,1,...,0,0,0,0,0,0,0,0,1,0
2,4.976734,Apartment,5,1.0,1,3,NYC,1,1,1,...,0,0,0,0,0,0,0,0,1,0
3,6.620073,House,4,1.0,1,4,SF,1,1,0,...,0,1,0,0,0,0,0,0,0,1
4,4.744932,Apartment,2,1.0,1,3,DC,1,1,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74105,4.248495,House,2,1.0,1,3,LA,1,1,0,...,0,1,0,0,0,0,0,1,0,0
74106,4.605170,Apartment,1,1.0,1,4,NYC,0,1,0,...,0,0,0,0,0,0,0,0,1,0
74107,5.043425,Apartment,4,2.0,1,3,LA,1,0,0,...,0,0,0,0,0,0,0,1,0,0
74108,5.220356,Apartment,5,1.0,1,3,NYC,1,1,1,...,0,0,0,0,0,0,0,0,1,0
74109,5.273000,Apartment,2,1.0,1,2,NYC,1,0,1,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
refined_df.drop(columns=['property_type','city'], inplace = True) #property_type, city 삭제

In [ ]:
refined_df.columns

Index(['log_price', 'accommodates', 'bathrooms', 'bed_type',
       'cancellation_policy', 'cleaning_fee', 'host_identity_verified',
       'instant_bookable', 'beds', 'property_type_Apartment',
       'property_type_Condominium', 'property_type_House',
       'property_type_Loft', 'property_type_Townhouse', 'city_Boston',
       'city_Chicago', 'city_DC', 'city_LA', 'city_NYC', 'city_SF'],
      dtype='object')

##테스트 세트 분리

In [ ]:
from sklearn.model_selection import train_test_split

train_input,test_input, train_target, test_target = train_test_split(refined_df.iloc[:,1 : ], refined_df['log_price'], random_state = 42) #테스트 세트 분리

In [ ]:
train_input.shape, test_target.shape

((52996, 19), (17666,))

##표준화

In [45]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()
std_scaler.fit(train_input)
train_input = std_scaler.transform(train_input)
test_input = std_scaler.transform(test_input)

(17666,)

##모델 생성, 훈련

In [44]:
from sklearn.linear_model import SGDRegressor
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

# SGDRegressor 모델 초기화
sgd_reg = SGDRegressor()

# 교차 검증을 통한 모델 평가
rmse_scores = cross_val_score(sgd_reg, train_input, train_target, cv=5, scoring='neg_root_mean_squared_error')
r2_scores = cross_val_score(sgd_reg, train_input, train_target, cv=5, scoring='r2')

# 테스트 데이터에 대한 모델 평가
sgd_reg.fit(train_input, train_target)
test_pred = sgd_reg.predict(test_input)
test_rmse = np.sqrt(mean_squared_error(test_target, test_pred))
test_r2 = r2_score(test_target, test_pred)

print("Cross-Validation RMSE Scores:", -rmse_scores)
print("Cross-Validation R2 Scores:", r2_scores)

print("Average RMSE:", -np.mean(rmse_scores))
print("Average R2 Score:", np.mean(r2_scores))

print("Test RMSE:", test_rmse)
print("Test R2 Score:", test_r2)

Cross-Validation RMSE Scores: [0.55397836 0.55636657 0.56490189 0.54614648 0.55261968]
Cross-Validation R2 Scores: [0.40135903 0.40365966 0.38509136 0.40266597 0.40006954]
Average RMSE: 0.5548025958368183
Average R2 Score: 0.39856911138726486
Test RMSE: 1.487542545007487
Test R2 Score: -3.3942226060847505

점수가 잘안나온다. 특히, test 점수가 잘안나온다. 모델이 아직 데이터를 학습하지 못하고 있다고 판단된다. 성능을 높이기위해서는 동네당 평균 집값정보를 찾아서 추가하면 좋을 것 같다.